// singhin Container
.sighnIn{
    height: 100vh;
    
    .loginleftContainer{
        height: 100%;
        background-color: rgba(57,112,145,0.75);
        object-fit: contain;
        display: flex;
        align-items: center;
        padding: 20px;
        justify-content: center;
        .primaryheader{
            border-radius: 10px;
            font-size: 18px;
            color: #d3e3ff;
            text-rendering: optimizeSpeed;
            font-weight: 900;
            padding: 0.5rem;
            text-emphasis:initial;

        }
        img{
            width: 50%;
            
        }
        
    }
    .authenticationContainer{
        background-color:rgba(43,53,62,1);
        color: white;
         padding: 30px 10px 0px 10px;
          display: flex;
        align-items: center;
        justify-content: center;
        .contentContainer{
            background-color: #344c4e;
            border-radius: 20px;
            padding: 4rem;
            box-shadow: 5px 5px rgba(57,112,145,0.9) inset ;
            .signInForm{
                label{
                    width: 100%;
                    text-align: start;
                    color: aliceblue;
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                .field{
                    .password-container{
                        input{
                            border-radius: 0px;
                            border-top-left-radius: 5px;
                            border-bottom-left-radius: 5px;
                            border: 0;
                        }
                        span{
                            background-color: white;
                            color: black;
                            display: flex;
                            align-items: center;
                            border-top-right-radius: 5px;
                            border-bottom-right-radius: 5px;
                        }
                        display: flex;
                    }
                }
                .login{
                                    background: rgba(65,75,47,0.75);
                                    padding:0.5rem;
                                    color: white;
                                    width: 100%;
                                    font-size: 12px;
                                    font-weight: 500;
                                    margin: 10px 0px ;
                                    border-radius: 1rem;
                                    :hover{
                                        box-shadow: 1px 1px 1px grey;
                                        // color: black !important;
                                    }
                                }
                                .singhUp{
                                        color:aliceblue;
                                        font-size: 14px;
                                        font-weight: 400;
                                        margin: 0px;
                                        span{
                                            color: aliceblue;
                                            font-size: 16px;
                                            font-weight: 600;
                                            cursor: pointer;
                        
                                            text-decoration: underline;
                        
                                        }
                                    }
                                    .forgotPassword{
                                        color: aliceblue;
                                        margin: 0px;
                                        cursor: pointer;
                                        :hover{
                                            text-decoration: underline;
                                            text-decoration-color: aliceblue;
                                        }
                        
                        
                                    }
                                
                }}
    }

}
// DashBoard Stylings 
.dashboard-container{
    height: auto;
    min-height: 100vh;
    padding:1rem 3rem;
    background:rgba(234,238,247,255);
    .logout{
        span{
            cursor: pointer;
            box-shadow: -3px -3px 2px #151617 inset, 3px 3px #f8f9fa inset;
            padding: 0.5rem;

        }
    }
    .chart-container{
        .categoryChart{
            box-shadow: -3px -3px 2px #151617 inset, 3px 3px #f8f9fa inset;
        }
    }
    .TransitionRecord{
        // background: white;
        box-shadow: -3px -3px 2px #151617 inset, 3px 3px #f8f9fa inset;
        margin: 2rem 0rem;
        padding: 1rem 1.5rem;
        .card-body{
            div{
                .card{
                    .filterContainer {
                        margin: 0 1rem;
                        select{
                            width:25%
                        }
                    }
                }
            }
        }


    }
    .top-card{
        .headerActions{
            box-shadow:-3px -3px 2px #151617 inset, 3px 3px #f8f9fa inset;
            .mainContainer{
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                padding: 0.5rem;
                .user-income{
                    font-size: 13px;
                    font-weight: 500;
                    background-color: #f8f9fa;
                    padding:0.5rem 1rem
                }
                .add-income-section{
                    margin: 0.5rem;
                    font-size: 10px;
                    input{
                        width: 60%;
                        font-size: 13px;
                        margin-right: 0.5rem;
                    }
                    button{
                        font-size: 13px;
                    }
                }
                .add-transition{
                    font-size: 13px;
                }

            }

        }

    }

}